* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fighter {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.fighter:hover {
    background: #eae9e9;
    cursor: pointer;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5)
}

.fighters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name {
    text-align: center;
}